In [ ]:
!pip install requests
!pip install html5lib
!pip install bs4

In [ ]:
from pprint import pprint
import requests
from bs4 import BeautifulSoup
import re
import itertools

companies = ['CITYBANK','ACI'] 

eps_data = []
month_data = []
year_data = []  
company_data = []

for company in companies:
  all_data=[]  # a list to store data
  
  URL = f"https://www.dsebd.org/old_news.php?inst={company}&criteria=3&archive=news"
  r = requests.get(URL)
    
  soup = BeautifulSoup(r.content, 'html5lib')
  content = str(soup)
    
  table = soup.find('table',attrs={'class':'table-news'})

  mystring = 'EPS was Tk. (.*?) for (.*?) (.*?) as against Tk. (.*?) for (.*?) (\d*)'
  eps_value_list = re.findall(mystring,content)


  for eps in eps_value_list:
      eps_value = eps[0::3]
      month_duration = eps[1::3]
      year = eps[2::3]
      all_data.append([eps_value,month_duration,year])

  for data in all_data:
      company_data.append((company,company))
      eps_data.append(data[0])
      month_data.append(data[1])
      year_data.append(data[2])


eps_res = list(itertools.chain(*eps_data))
month_res = list(itertools.chain(*month_data))
year_res = list(itertools.chain(*year_data))
company_res = list(itertools.chain(*company_data))

with open("output.txt", "w") as f:
  for com, eps, month, year in zip(company_res,eps_res, month_res, year_res):
      f.write(com + "\t" + eps + "\t" + month + "\t" + year + "\n")
      print("Company:",com,"EPS:",eps,",Date:",month,year)

Company: CITYBANK EPS: 1.21 ,Date: April-June 2022
Company: CITYBANK EPS: 1.19 ,Date: April-June 2021
Company: CITYBANK EPS: 2.04 ,Date: January-June 2022
Company: CITYBANK EPS: 2.16 ,Date: January-June 2021
Company: CITYBANK EPS: 0.83 ,Date: January-March 2022
Company: CITYBANK EPS: 0.97 ,Date: January-March 2021
Company: CITYBANK EPS: 0.90 ,Date: July-September 2021
Company: CITYBANK EPS: 1.89 ,Date: July-September 2020
Company: CITYBANK EPS: 2.97 ,Date: January-September, 2021
Company: CITYBANK EPS: 2.89 ,Date: January-September, 2020
Company: CITYBANK EPS: 1.13 ,Date: April-June 2021
Company: CITYBANK EPS: 0.29 ,Date: April-June 2020
Company: CITYBANK EPS: 2.06 ,Date: January-June 2021
Company: CITYBANK EPS: 1.00 ,Date: January-June 2020
Company: CITYBANK EPS: 0.98 ,Date: January-March 2021
Company: CITYBANK EPS: 0.75 ,Date: January-March 2020
Company: CITYBANK EPS: 1.99 ,Date: July-September 2020
Company: CITYBANK EPS: 0.76 ,Date: July-September 2019
Company: CITYBANK EPS: 3.04 ,Date: January-September, 2020
Company: CITYBANK EPS: 2.58 ,Date: January-September, 2019
Company: CITYBANK EPS: 0.30 ,Date: April-June, 2020
Company: CITYBANK EPS: 1.06 ,Date: April-June, 2019
Company: CITYBANK EPS: 1.05 ,Date: January-June, 2020
Company: CITYBANK EPS: 1.82 ,Date: January-June, 2019
Company: ACI EPS: 0.44 ,Date: January-March 2022
Company: ACI EPS: 0.30 ,Date: January-March 2021
Company: ACI EPS: 5.95 ,Date: July 2021-March 2022
Company: ACI EPS: 3.07 ,Date: July 2020
Company: ACI EPS: 2.10 ,Date: October-December 2021
Company: ACI EPS: 1.44 ,Date: October-December 2020
Company: ACI EPS: 5.51 ,Date: July-December 2021
Company: ACI EPS: 2.77 ,Date: July-December 2020
Company: ACI EPS: 3.93 ,Date: July-September 2021
Company: ACI EPS: 1.54 ,Date: July-September 2020
Company: ACI EPS: 0.35 ,Date: January-March 2021
Company: ACI EPS: (4.81) ,Date: January-March 2020
Company: ACI EPS: 3.54 ,Date: July 2020-March 2021
Company: ACI EPS: (15.90) ,Date: July 2019
Company: ACI EPS: 1.65 ,Date: October-December 2020
Company: ACI EPS: (6.35) ,Date: October-December 2019
Company: ACI EPS: 3.19 ,Date: July-December 2020
Company: ACI EPS: (11.09) ,Date: July-December 2019
Company: ACI EPS: 1.69 ,Date: July-September 2020
Company: ACI EPS: (5.21) ,Date: July-September 2019

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

 * Starting PostgreSQL 10 database server
   ...done.

In [ ]:
# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

ALTER ROLE

In [ ]:
# Setup a database with name `dsescrapping` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS dsescrapping;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE dsescrapping;'

ERROR:  database "dsescrapping" is being accessed by other users
DETAIL:  There is 1 other session using the database.
ERROR:  database "dsescrapping" already exists

In [ ]:
# set connection
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dsescrapping

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dsescrapping

In [ ]:
#To load the sql extention to start using %%sql
%reload_ext sql

In [ ]:
#You can start executing postgres sql commands
%%sql
select * from information_schema.columns;

In [ ]:
sql='Insert into dse_table(company,eps,date) values'
for com, eps, month, year in zip(company_res, eps_res, month_res, year_res):
  sql+=f"('{com}','{eps.replace('(','').replace(')','')}','{month.replace(',','')},{year}'),"

sql = sql[:-1]

In [ ]:
%sql create table dse_table(company varchar(255),eps varchar(255),date varchar(255))

 * postgresql://postgres:***@localhost:5432/dsescrapping
(psycopg2.ProgrammingError) relation "dse_table" already exists

[SQL: create table dse_table(company varchar(255),eps varchar(255),date varchar(255))]
(Background on this error at: https://sqlalche.me/e/14/f405)
 * postgresql://postgres:***@localhost:5432/dsescrapping
(psycopg2.ProgrammingError) syntax error at end of input
LINE 1: ...'July-September,2020'),('ACI','5.21','July-September,2019'),
                                                                       ^

[SQL: Insert into dse_table(company,eps,date) values('CITYBANK','1.21','April-June,2022'),('CITYBANK','1.19','April-June,2021'),('CITYBANK','2.04','January-June,2022'),('CITYBANK','2.16','January-June,2021'),('CITYBANK','0.83','January-March,2022'),('CITYBANK','0.97','January-March,2021'),('CITYBANK','0.90','July-September,2021'),('CITYBANK','1.89','July-September,2020'),('CITYBANK','2.97','January-September,2021'),('CITYBANK','2.89','January-September,2020'),('CITYBANK','1.13','April-June,2021'),('CITYBANK','0.29','April-June,2020'),('CITYBANK','2.06','January-June,2021'),('CITYBANK','1.00','January-June,2020'),('CITYBANK','0.98','January-March,2021'),('CITYBANK','0.75','January-March,2020'),('CITYBANK','1.99','July-September,2020'),('CITYBANK','0.76','July-September,2019'),('CITYBANK','3.04','January-September,2020'),('CITYBANK','2.58','January-September,2019'),('CITYBANK','0.30','April-June,2020'),('CITYBANK','1.06','April-June,2019'),('CITYBANK','1.05','January-June,2020'),('CITYBANK','1.82','January-June,2019'),('ACI','0.44','January-March,2022'),('ACI','0.30','January-March,2021'),('ACI','5.95','July,2021-March 2022'),('ACI','3.07','July,2020'),('ACI','2.10','October-December,2021'),('ACI','1.44','October-December,2020'),('ACI','5.51','July-December,2021'),('ACI','2.77','July-December,2020'),('ACI','3.93','July-September,2021'),('ACI','1.54','July-September,2020'),('ACI','0.35','January-March,2021'),('ACI','4.81','January-March,2020'),('ACI','3.54','July,2020-March 2021'),('ACI','15.90','July,2019'),('ACI','1.65','October-December,2020'),('ACI','6.35','October-December,2019'),('ACI','3.19','July-December,2020'),('ACI','11.09','July-December,2019'),('ACI','1.69','July-September,2020'),('ACI','5.21','July-September,2019'),]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
# Create a schema and insert values
%%sql
set schema 'dsewebscraping';

 * postgresql://postgres:***@localhost:5432/dsescrapping
Done.

[]

In [ ]:
%sql $sql

 * postgresql://postgres:***@localhost:5432/dsescrapping
44 rows affected.

[]

In [ ]:
%%sql
Select * from dse_table;

 * postgresql://postgres:***@localhost:5432/dsescrapping
44 rows affected.

[('CITYBANK', '1.21', 'April-June,2022'),
 ('CITYBANK', '1.19', 'April-June,2021'),
 ('CITYBANK', '2.04', 'January-June,2022'),
 ('CITYBANK', '2.16', 'January-June,2021'),
 ('CITYBANK', '0.83', 'January-March,2022'),
 ('CITYBANK', '0.97', 'January-March,2021'),
 ('CITYBANK', '0.90', 'July-September,2021'),
 ('CITYBANK', '1.89', 'July-September,2020'),
 ('CITYBANK', '2.97', 'January-September,2021'),
 ('CITYBANK', '2.89', 'January-September,2020'),
 ('CITYBANK', '1.13', 'April-June,2021'),
 ('CITYBANK', '0.29', 'April-June,2020'),
 ('CITYBANK', '2.06', 'January-June,2021'),
 ('CITYBANK', '1.00', 'January-June,2020'),
 ('CITYBANK', '0.98', 'January-March,2021'),
 ('CITYBANK', '0.75', 'January-March,2020'),
 ('CITYBANK', '1.99', 'July-September,2020'),
 ('CITYBANK', '0.76', 'July-September,2019'),
 ('CITYBANK', '3.04', 'January-September,2020'),
 ('CITYBANK', '2.58', 'January-September,2019'),
 ('CITYBANK', '0.30', 'April-June,2020'),
 ('CITYBANK', '1.06', 'April-June,2019'),
 ('CITYBANK', '1.05', 'January-June,2020'),
 ('CITYBANK', '1.82', 'January-June,2019'),
 ('ACI', '0.44', 'January-March,2022'),
 ('ACI', '0.30', 'January-March,2021'),
 ('ACI', '5.95', 'July,2021-March 2022'),
 ('ACI', '3.07', 'July,2020'),
 ('ACI', '2.10', 'October-December,2021'),
 ('ACI', '1.44', 'October-December,2020'),
 ('ACI', '5.51', 'July-December,2021'),
 ('ACI', '2.77', 'July-December,2020'),
 ('ACI', '3.93', 'July-September,2021'),
 ('ACI', '1.54', 'July-September,2020'),
 ('ACI', '0.35', 'January-March,2021'),
 ('ACI', '4.81', 'January-March,2020'),
 ('ACI', '3.54', 'July,2020-March 2021'),
 ('ACI', '15.90', 'July,2019'),
 ('ACI', '1.65', 'October-December,2020'),
 ('ACI', '6.35', 'October-December,2019'),
 ('ACI', '3.19', 'July-December,2020'),
 ('ACI', '11.09', 'July-December,2019'),
 ('ACI', '1.69', 'July-September,2020'),
 ('ACI', '5.21', 'July-September,2019')]